<%- include('header'); -%>
<h1 style="color:black;">This is the about page</h1>
<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fuga, corporis, ad iusto delectus necessitatibus
    minima illum, tempore saepe similique labore? Recusandae iure maiores ullam deserunt illo. Omnis facere est quis
    excepturi odit accusantium perspiciatis maxime, provident eveniet aspernatur illum aut, quia, laboriosam praesentium
    ut hic. Consectetur ea, quasi, doloremque nam beatae inventore provident atque suscipit, quo vero eum optio
    repudiandae neque quos! Quae, distinctio porro enim, sunt assumenda consectetur dolorem ab consequatur, officiis ea
    esse cumque sapiente sit hic neque! Nisi molestias nam ipsam fugit ex veniam consectetur at possimus aliquam esse
    corrupti, ut excepturi ullam illum. Unde, eaque!</h4>

<%- include('footer'); -%>